body{
    margin:0;
    padding:0;
    border:0;
    background: rgb(64, 87, 135);
    font-size:25px;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#navbar{
    position: sticky;
    top:0;
    background:rgba(24, 45, 77, .5);
    width:100vw;
    padding :5px;
    text-align: center;;
}

#navbar ul li{
    display: inline-block;
    color:#fff;
    list-style: none;
    align-self: space-between;
}

a{
    color:#fff;
    text-decoration: none;
    transition: all 1s;
}

a:hover{
    color:greenyellow
}
#welcome-section{
    display:block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#welcome-section h1{
    display:block;
    text-align:center;
    margin:0 auto;
}
.title{
    font-size: 100px;
}
